* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$sp: 750px;
$pc: 1400px;
@mixin sp {
    @media screen and (max-width: ($sp)) {
        @content;
    }
}

@mixin pc {
    @media screen and  (max-width: ($pc)) {
        @content;
    }
}
a{
    text-decoration: none;
    color:inherit;
}
#container {
    width: 100%;

    .conatiner-country {
        @include pc {
            width: 95%;
            display: flex;
            flex-wrap: wrap;
            column-gap: 40px;
            row-gap: 10px;
            justify-content: center;
            margin: 5% auto;

            .cont-indiv {
                width: 20%;
                box-shadow: 5px 5px lightgrey;
                margin: 2rem 0;
                border: 0.5px solid black;
                a{
                    text-decoration: none;
                    color:inherit;
                }
                &:hover{
                    transform: scale(1.2);
                }
                .flag {
                    outline: 1px solid black;
                    width: 100%;
                    height: 120px;
                }
                .flag {
                    outline: 1px solid black;
                    width: 100%;
                    // height: 150px;
                    // object-fit: contain;
                }
        
                .name {
                    padding: 0px 20px;
                    margin: 10% 0px 10% 0px;
                    font-weight: bold;
                    font-size: 20px;
                }
        
                .num-pop {
                    padding: 0px 20px;
                }
        
                .region {
                    padding: 0px 20px;
                }
        
                .capital {
                    padding: 0px 20px;
                    margin: 0 0 10% 0;
                }
                .bold{
                    font-weight: bold;
                }
            }
        }
    }
}

#container {
    width: 100%;

    @include sp{
        .conatiner-country {
            width: 95%;
            padding: 7% 0;
            // display: flex;
            // flex-wrap: wrap;
            // column-gap: 40px;
            // row-gap: 10px;
            // justify-content: center;
            margin: 5% auto;
        
            .cont-indiv {
                width: 250px;
                background-color: rgb(248, 248, 247);
                margin: 5% 0;
                a{
                    text-decoration: none;
                    color:inherit;
                }
                .flag {
                    outline: 1px solid black;
                    width: 100%;
                    // object-fit: contain;
                }
        
                .name {
                    padding: 0px 20px;
                    margin: 10% 0px 10% 0px;
                    font-weight: bold;
                }
                
                .num-pop {
                    padding: 0px 20px;
                }
                
                .region {
                    padding: 0px 20px;
                }
                
                .capital {
                    padding: 0px 20px;
                }
                .bold{
                    font-weight: bold;
                }
            }
        }
    }
}
        



